
		<div id="page">
			<div id="header">
				<a href="#menu"></a>
			</div>

		<div class="french-btn">
			<li><a class="btn btn-link" href="{{site.baseurl}}/" >PAGE D'accueil</a></li>
		</div>

			<!-- nav small screens  -->
			<nav id="menu">
				<ul>
					<li><a href="{{site.baseurl}}/" >HOME</a></li>

					<li class="Selected">
						<a href="{{site.baseurl}}/about">ABOUT US</a>
						<ul>
							<li><a href="{{site.baseurl}}/our-team">Our Team</a></li>
							<li><a href="{{site.baseurl}}/testimonials">Testimonials</a></li>
						</ul>
					</li>

					<li class="Selected">
						<a href="{{site.baseurl}}/services">SERVICES</a>
						<ul>
							<li><a href="{{site.baseurl}}/workplace-restoration">Workplace Restoration</a></li>
							<li><a href="{{site.baseurl}}/organizational-assessments">Organizational Assessments</a></li>
							<li><a href="{{site.baseurl}}/conflict-diagnostic">Conflict Diagnostics</a></li>
							<li><a href="{{site.baseurl}}/interventions">Interventions</a></li>
							<li><a href="{{site.baseurl}}/coaching">Coaching</a></li>
							<li><a href="{{site.baseurl}}/training">Training</a></li>
							<li><a href="{{site.baseurl}}/public-speaking">Public Speaking</a></li>
							<li><a href="{{site.baseurl}}/consultation">Consultation</a></li>
						</ul>
					</li>

						<li><a href="{{site.baseurl}}/resources-tools">RESOURCES AND TOOLS</a></li>

						<li><a href="{{site.baseurl}}/contact">CONTACT US</a></li>
				</ul>
			</nav>

			<!-- nav small screens end  -->

			<!-- nav big screens  -->
			<div id="header-big">
							<ul class="navigation">

					<li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">HOME</a>
					<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/about" class="{% if page.url contains 'about' %}current{% endif %}">ABOUT US</a>
				<ul>
							<li><a href="{{site.baseurl}}/our-team" class="sub {% if page.url contains 'our-team' %}current{% endif %}">Our Team</a></li>
							<li><a href="{{site.baseurl}}/testimonials" class="sub {% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/services" class="{% if page.url contains 'services' %}current{% endif %}">SERVICES</a>
				<ul>
							<li><a href="{{site.baseurl}}/workplace-restoration" class="sub {% if page.url contains 'workplace-restoration' %}current{% endif %}">Workplace Restoration</a></li>
							<li><a href="{{site.baseurl}}/organizational-assessments" class="sub {% if page.url contains 'organizational-assessments' %}current{% endif %}">Organizational Assessments</a></li>
							<li><a href="{{site.baseurl}}/conflict-diagnostic" class="sub {% if page.url contains 'conflict-diagnostic' %}current{% endif %}">Conflict Diagnostics</a></li>
							<li><a href="{{site.baseurl}}/interventions" class="sub {% if page.url contains 'interventions' %}current{% endif %}">Interventions</a></li>
							<li><a href="{{site.baseurl}}/coaching" class="sub {% if page.url contains 'coaching' %}current{% endif %}">Coaching</a></li>
							<li><a href="{{site.baseurl}}/training" class="sub {% if page.url contains 'training' %}current{% endif %}">Training</a></li>
							<li><a href="{{site.baseurl}}/public-speaking" class="sub {% if page.url contains 'public-speaking' %}current{% endif %}">Public Speaking</a></li>
							<li><a href="{{site.baseurl}}/consultation" class="sub {% if page.url contains 'consultation' %}current{% endif %}">Consultation</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/resources-tools" class="{% if page.url contains 'sresources-tools' %}current{% endif %}">RESOURCES AND TOOLS</a>
						<div class="clear"></div>
				</li>

					<li><a href="{{site.baseurl}}/contact" class="{% if page.url contains 'contact' %}current{% endif %}">CONTACT US</a></li>
				</ul>
				<div class="clear"></div>
			</div>

		</div>

