
		<div id="page">
			<div id="header">
				<a href="#menu"></a>
			</div>

		<div class="french-btn">
			<li><a class="btn btn-link" href="{{site.baseurl}}/" >ENGLISH</a></li>
		</div>

			<!-- nav small screens  -->
			<nav id="menu">
				<ul>
					<li><a href="{{site.baseurl}}/french/" >PAGE D'ACCUEIL</a></li>

					<li class="Selected">
						<a href="{{site.baseurl}}/french/about">À NOTRE SUJET</a>
						<ul>
							<li><a href="{{site.baseurl}}/french/our-team">Notre équipe</a></li>
							<li><a href="{{site.baseurl}}/french/testimonials">Témoignages d'appréciation</a></li>
						</ul>
					</li>

					<li class="Selected">
						<a href="{{site.baseurl}}/services">SERVICES</a>
						<ul>
							<li><a href="{{site.baseurl}}/french/workplace-restoration">Restauration du milieu de travail </a></li>
							<li><a href="{{site.baseurl}}/french/organizational-assessments">Évaluations organisationnelles </a></li>
							<li><a href="{{site.baseurl}}/french/conflict-diagnostic">Diagnostics de conflit </a></li>
							<li><a href="{{site.baseurl}}/french/interventions">Interventions</a></li>
							<li><a href="{{site.baseurl}}/french/coaching">Coaching</a></li>
							<li><a href="{{site.baseurl}}/french/training">Formation </a></li>
							<li><a href="{{site.baseurl}}/french/public-speaking">Conférences</a></li>
							<li><a href="{{site.baseurl}}/french/consultation">Consultation</a></li>
						</ul>
					</li>

						<li><a href="{{site.baseurl}}/french/resources-tools">RESSOURCES ET OUTILS</a></li>

						<li><a href="{{site.baseurl}}/french/contact">POUR NOUS JOINDRE</a></li>
				</ul>
			</nav>

			<!-- nav small screens end  -->

			<!-- nav big screens  -->
			<div id="header-big">
							<ul class="navigation">

					<li><a href="{{site.baseurl}}/french/" class="{% if page.url == '/' %}current{% endif %}">Page d'accueil </a>
					<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/french/about" class="{% if page.url contains 'about' %}current{% endif %}">À notre sujet </a>
				<ul>
							<li><a href="{{site.baseurl}}/french/our-team" class="sub {% if page.url contains 'our-team' %}current{% endif %}">Notre équipe</a></li>
							<li><a href="{{site.baseurl}}/french/testimonials" class="sub {% if page.url contains 'testimonials' %}current{% endif %}">Témoignages d'appréciation</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/french/services" class="{% if page.url contains 'services' %}current{% endif %}">Services</a>
				<ul>
							<li><a href="{{site.baseurl}}/french/workplace-restoration" class="sub {% if page.url contains 'workplace-restoration' %}current{% endif %}">Restauration du milieu de travail</a></li>
							<li><a href="{{site.baseurl}}/french/organizational-assessments" class="sub {% if page.url contains 'organizational-assessments' %}current{% endif %}">Évaluations organisationnelles</a></li>
							<li><a href="{{site.baseurl}}/french/conflict-diagnostic" class="sub {% if page.url contains 'conflict-diagnostic' %}current{% endif %}">Diagnostics de conflit</a></li>
							<li><a href="{{site.baseurl}}/french/interventions" class="sub {% if page.url contains 'interventions' %}current{% endif %}">Interventions</a></li>
							<li><a href="{{site.baseurl}}/french/coaching" class="sub {% if page.url contains 'coaching' %}current{% endif %}">Coaching</a></li>
							<li><a href="{{site.baseurl}}/french/training" class="sub {% if page.url contains 'training' %}current{% endif %}">Formation</a></li>
							<li><a href="{{site.baseurl}}/french/public-speaking" class="sub {% if page.url contains 'public-speaking' %}current{% endif %}">Conférences</a></li>
							<li><a href="{{site.baseurl}}/french/consultation" class="sub {% if page.url contains 'consultation' %}current{% endif %}">Consultation</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/french/resources-tools" class="{% if page.url contains 'sresources-tools' %}current{% endif %}">Ressources et outils</a>
						<div class="clear"></div>
				</li>

					<li><a href="{{site.baseurl}}/french/contact" class="{% if page.url contains 'contact' %}current{% endif %}">Pour nous joindre  </a></li>
				</ul>
				<div class="clear"></div>
			</div>

		</div>

