
		<div id="page">
			<div id="header">
				<a href="#menu"></a>
			</div>

			<!-- nav small screens  -->
			<nav id="menu">
				<ul>
					<li class="Selected">
						<a href="{{site.baseurl}}/about">ABOUT US</a>
						<ul>
							<li><a href="{{site.baseurl}}/our-work">Our Work</a></li>
							<li><a href="{{site.baseurl}}/our-philosophy">Our Philosophy</a></li>
							<li><a href="{{site.baseurl}}/our-team">Our Team</a></li>
							<li><a href="{{site.baseurl}}/testimonials">Testimonials</a></li>
						</ul>
					</li>

					<li class="Selected">
						<a href="{{site.baseurl}}/services">SERVICES</a>
						<ul>
							<li><a href="#">Workplace Restoration</a></li>
							<li><a href="{{site.baseurl}}/organizational-assessments">Organizational Assessments</a></li>
							<li><a href="{{site.baseurl}}/conflict-diagnostic">Conflict Diagnostics</a></li>
							<li><a href="#">Interventions</a></li>
							<li><a href="#">Coaching</a></li>
							<li><a href="#">Training</a></li>
							<li><a href="#">Public Speaking</a></li>
							<li><a href="#">Consultation</a></li>
						</ul>
					</li>

					<li class="Selected">
						<a href="#">RESOURCES AND TOOLS</a>
						<ul>
							<li><a href="#">Conflict is for the Birds</a></li>
							<li><a href="#">Core Leadership</a></li>
							<li><a href="#">OrgPulse</a></li>
						</ul>
					</li>

						<li><a href="#">CONTACT US</a></li>
				</ul>
			</nav>

			<!-- nav small screens end  -->

			<!-- nav big screens  -->
			<div id="header-big">
							<ul class="navigation">

				<li><a href=""{{site.baseurl}}/about"">ABOUT US </a>
				<ul>
							<li><a id="sub" href="{{site.baseurl}}/our-work">Our Work</a></li>
							<li><a id="sub" href="{{site.baseurl}}/our-philosophy">Our Philosophy</a></li>
							<li><a id="sub" href="{{site.baseurl}}/our-team">Our Team</a></li>
							<li><a id="sub" href="{{site.baseurl}}/testimonials">Testimonials</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="{{site.baseurl}}/services">SERVICES</a>
				<ul>
							<li><a id="sub" href="">Workplace Restoration</a></li>
							<li><a id="sub" href="{{site.baseurl}}/organizational-assessments">Organizational Assessments</a></li>
							<li><a id="sub" href="{{site.baseurl}}/conflict-diagnostic">Conflict Diagnostics</a></li>
							<li><a id="sub" href="#">Interventions</a></li>
							<li><a id="sub" href="#">Coaching</a></li>
							<li><a id="sub" href="#">Training</a></li>
							<li><a id="sub" href="#">Public Speaking</a></li>
							<li><a id="sub" href="#">Consultation</a></li>
				</ul>

				<div class="clear"></div>
				</li>

				<li><a href="#">RESOURCES AND TOOLS</a>
				<ul>
							<li><a id="sub" href="#">Conflict is for the Birds</a></li>
							<li><a id="sub" href="#">Core Leadership</a></li>
							<li><a id="sub" href="#">Org Pulse</a></li>
				</ul>

						<div class="clear"></div>
					</li>
					<li><a href="#">CONTACT US</a></li>

				</ul>
				<div class="clear"></div>
			</div>

		</div>

