
.gutter{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
}

.gutter-bullet{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}
#padding-one{
	padding-top: 3rem;
}

@media only screen and (min-width: 800px){
	.gutter-bullet{
	padding-left: 2rem;
	padding-right: 2rem;
}
}

img{
	width: 90%;
}

.img-flex{
	padding-bottom: 1.5rem;
}


@media only screen and (min-width: 900px){
.img-flex{
	float: left;
	width:50%;
	margin-right: 2rem;
	margin-top: 1rem;
}
}

.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}

.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
  *display: inline;
  zoom: 1;
}

.grid-bottom .unit {
  vertical-align: bottom;
}


.unit-s-1{
	width: 100%;
}

@media only screen and (min-width: 800px){
	.unit-m-1-2{
	width:50%;
	padding-bottom: 2rem;
	}
	.unit-m-1 .paragraph{
	text-align: left;
	font-size: 1.2rem;
	}
}
@media only screen and (min-width: 900px){
.unit-l-1-3 {
  width: 33.3333%;
}
}



.row-fluid {
margin: 0 auto;
max-width: 1200px;
}

@media only screen and (min-width: 760px){
.row-fluid {
width: 100%;
}
}

.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
}

.row-fluid:after {
clear: both;
}

.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
}
