.grid{
	overflow: hidden;
}


.gutter{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
}

.unit,
.unit-s-1,
.unit-m-1,
.unit-m-1-2
{
	float: left;
	position: relative;
}

.unit-s-1{
	width: 100%;
}

@media only screen and (min-width: 800px){
	.unit-m-1-2{
	width:50%;
	}
	.unit-m-1 .paragraph{
	text-align: center;
	font-size: 1.2rem;
	}
}

img{
	width: 100%;
}

.img-flex{
	padding-bottom: 1.5rem;
}


@media only screen and (min-width: 900px){
.img-flex{
	float: left;
	width:50%;
	margin-right: 2rem;
	margin-top: 1rem;
}
}
