
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.428571429;
}

#coming-soon {
	width:100%;
	margin:0;
}

@media only screen and (min-width: 1100px){
	#coming-soon {
	width:70%;
	margin: 1rem auto 0 12rem;
}
	}

 p,
 h2,
 h3 {
   orphans: 3;
   widows: 3;
  }

 h2{
font-family: 'Oswald', sans-serif;
padding-bottom: 2rem;
text-align: left;
 }

.featue-text{
	margin: 10px auto;
	padding: 10px 10px 20px 10px;
	text-align: center;
	background-color: rgba(255,255,255,0.1);
	border: solid 10px #fff;
	width:50%;
	box-shadow: 10px 10px 5px #888888;
}


p{
font-family: 'Domine', serif;
	line-height: 1.5;
	font-size: 1.1rem;
}

b{
	color:#a03021;
	font-size: 1.4rem;
}

strong{
		color:#a03021;
}

em{
		color:#a03021;
}

@media only screen and (min-width: 1100px){
b{
	font-size: 1.4rem;
}

}

.french-btn{
	float: right;
display: block;
width: 40px;
height: 40px;
position: absolute;
top: 5px;
right: 30px;
}

.logos{
	padding-bottom: 2rem;
}

a, a:link, a:active, a:visited, a:hover
{
	color: #fff;
	text-decoration: underline;
}

.french-btn li{
	display: block;
}

.btn-link,
.btn-link:link{
color: #a03021;
cursor: pointer;
text-decoration: none;

}

.btn-link:active,
.btn-link:hover{
color: #a03021;
}

@media only screen and (min-width: 600px){
.btn-link,
.btn-link:active,
.btn-link:hover{
font-size: 1.2rem;
}
.french-btn{
right: 65px;
}
}

.bullet {
	font-family: 'Domine', serif;
	list-style-type: square;
	font-size: 1.1rem;
	line-height: 150%;
}

@media only screen and (min-width: 900px){
	.bullet{
	margin: 0 auto;
	width: 100%;
	}
}
.bullet-home {
	font-family: 'Domine', serif;
	list-style-type: square;
	font-size: 1.1rem;
	line-height: 150%;
}

@media only screen and (min-width: 900px){
	.bullet-home{
	margin: 0 auto;
	width: 80%;
	padding-bottom: 2rem;
	}
}

@media only screen and (min-width: 900px){
.paragraph{
	width: 80%;
	margin: 0 auto 0 auto;
	padding-bottom: 1rem;

}

}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

.in{
width:95%;
 border-top: 1px solid #fff;
 padding-bottom: 1rem;

}

	hr .in-big{
	border: none;
	}

#in-big{
	border: none;
	}

@media only screen and (min-width: 900px){
.in{
		display: none;
	}
	hr .in-big{
	width:70%;
 border-top: 1px solid #fff;
 margin-top: 17px;
}

	#in-big{
	width:70%;
 border-top: 1px solid #fff;
 margin-top: 17px;

}
	}

hr {
  margin-top: 17px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #a03021;
  width:80%;
  margin-bottom: 3rem;
}


h1  {
	font-size: 1rem;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	color: #a03021;
	margin-top: 3px;
	}



.heading-sub{
	float: left;
}

	.heading{
		line-height: 1;
		letter-spacing: 0.5px;
		font-size: 1.8rem;
		margin-bottom: 2rem;
		margin-top: 40px;
		color: #a03021;
	}

.heading-first{
		line-height: 1;
		letter-spacing: 0.5px;
		font-size: 1.8rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
		margin-top: 40px;
		color: #a03021;
}
@media only screen and (min-width: 30rem){
.heading-first{
	text-align: center;
}
}

.logo {

	/*min-height: 250px;*/  /* Gives height to the top  bar */
	min-height: 150px;
	padding-top: 1px;
	padding-bottom: 1px;


}

.headercontent {
	background-image: url(../img/ticks.png);
	background-repeat: repeat;
	background-color: #e2e1e1;

}

.containerall{
	width: 100%;
	margin: 25px auto -25px auto; /* Keeps it centered */
	padding-bottom: 2rem;
}
#main{
	margin-bottom: 2rem;
}

.logo img {
  display: block;
	margin: 15px auto -15px auto; /* Keeps it centered */
  vertical-align: bottom;
  width: 125px;
}

@media screen and (min-width: 800px) {

	.logo img {
	width: 140px;
}

	.logo{
	min-height: 215px;
	}
}


.tagline{
	margin: 50px auto 20px auto;
	vertical-align: bottom;
	display: block;
	max-width: 94%;
	max-height: 100%;
	padding-top: 1px;
	padding-bottom: 10px;
	font-size: 0.5rem;
	line-height: 1.4em;
	color: #56575b;
	background-color: transparent;
	border-top: solid thin #B2AB86;
	border-bottom: solid thin #B2AB86;
	text-transform: uppercase;
	text-align: center;
	}

@media (min-width: 500px) {
	.tagline{
		max-width: 60%;
	}
 }


.slider-tagline{
	max-width: 90%;
	margin: 5px auto 5px auto;
	padding:0;
	letter-spacing: 1px;
	font-size: 0.6rem;
	}

@media (min-width: 800px) {
.slider-tagline{
	font-size: 1rem;
}
 }

@media (max-width: 750px) {
.tagline{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 10px;

	font-size: 1rem;


	}
}

.text-muted {

/*font-family: 'Archivo Narrow', sans-serif;
font-weight: 400;*/
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-style: normal;
color: #56575b;
font-size: 1.7rem;

}



.info h1{
	font-size: 1.3rem;
}

@media screen and (min-width: 800px) {
	.info h1{
	font-size: 2rem;
	padding-top: 1rem;
}
	}

/* blockquotes ------------------------------------------------------------*/

blockquote {
  border-left: 5px solid #a03021;;
  margin: 0 auto 0 auto;
  padding: 0.5em 20px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 100%;
}


@media screen and (min-width: 800px) {
	blockquote{
		width:80%;
	}
	}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 5rem;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote:before {
content: "“";
}


blockquote p {
  display: inline;
  text-align: left;
}

blockquote cite{
	float: right;
}


/* BOTTOM ------------------------------------------------------------*/
#bottom,
#bottom-copyright {
	background-image: url(../img/ticks.png);
	background-repeat: repeat;
	background-color: #e2e1e1;
  position: relative;
  min-height: 20px;
  text-align: center;

}


#bottom #content,
#bottom-copyright {
  padding-bottom: 20px;
  text-align: center;
	color: #56555a;
  font-size: 1.3rem;
  line-height: 1.5em;
  clear: both;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}

#bottom-copyright .privacy{
color: #a03223;
}

#bottom #content a {
  color: #56555a;
}
#bottom #content a:hover {
  text-decoration: none;
}

.footer{
text-align: center;
margin-top: 5rem;
}

.footer_copyright{
	 padding-top: 2rem;
  padding-bottom: 10px;
  text-align: center;
	color: #56555a;
  font-size: 1rem;
  line-height: 0.5em;
  clear: both;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}


a.privacy,
a.privacy:link,
a.privacy:active,
a.privacy:visited,
a.privacy:hover
{
	color:#56555a;
	text-decoration: none;
}

a.footer,
a.footer:link,
a.footer:active,
a.footer:visited,
a.footer:hover
{
	color:#56555a;
	text-decoration: none;
}

.footer-menu{
	display: none;
}

@media (min-width: 750px){
	.footer-menu{
	display:inline-block;
	text-align: center;
	margin: 20px 25px 0 25px;
}
}

.footer-menu li{
	display:inline-block;
	padding-right: 15px;
	text-transform: uppercase;
}

#bottom-info{
	background-image: url(../img/ticks.png);
	background-repeat: repeat;
	background-color: #e2e1e1;
	padding-top: 2rem;
	border-bottom:3px solid #a03223;
}

#bottom-info p{
	text-align: left;
	color:#4c4d4d;
	font-size: 1rem;
}

#bottom-info h2{
padding-bottom: 1rem;
color:#a03223;
font-size: 1.1rem;
}

#bottom-info a{
padding-bottom: 1rem;
color:#4c4d4d;
font-size: 1rem;
}

@media screen and (min-width: 1000px) {
#bottom-info{
	display: none;}
}

.map-big{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.map-big iframe {
  width:100%;
  height: 200px;
  border: 1px solid #a03223;

}

@media (min-width: 900px){
  .map-big iframe {
  width:90%;

}
  }



.effect7
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.border{
	border-right: 2px solid #fff;
}

.call{
	float:right;
	text-align: right;
}

.contact{
	display: none;
}

@media screen and (min-width: 900px) {
	.contact{
	display: block;
}
}


.js-video embed, .js-video iframe, .js-video object, .js-video video {

  width: 100%;

}


