@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width;scale: 1;}

.slider{
	width: 90%;
	padding-top: 30px;
	padding-bottom: 10px;
		margin: 15px auto -15px auto; /* Keeps it centered */
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  	box-shadow: 1px 1px 8px 5px rgba(176,173,169,0.5);
	border-color: #fff;;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
